@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:wght@300&display=swap");

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 100px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  ::-webkit-scrollbar {
    width: 50px;
  }
}

h1{
  font-size: 1em;
  text-align: center;
  width: 100%;
  padding: 2%;
}

* {
  margin: 0;
  padding: 0;
}
hr {
  width: 100%;
}

body {
  height: 95vh;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../Imagens/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16pt;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: white;
  overflow: scroll;
  width: calc(100vw - 9px - 5vw);
}

main {
  position: absolute;
  top: 2vh;
  right: 3px;
  left: calc(5vw + 6px);
  background: rgba(70, 30, 30, 0.45);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  height: 91vh;
  gap: 10px;
  overflow-x: hidden;
  padding: 1%;
  
}

input,
select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 25px;
  border-radius: 10px;
  border: solid lightgray 2px;
  font-family: "Roboto";
  text-align: center;
  width: auto;
  height: 30px;
}

.informacoes{
>div{margin: 1%;}
}

.divControle{
  padding-top: 1%;
  display: flex;
  gap: 1%;
  margin: 1%;
}
.tabela{
  overflow: scroll;
}
table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  color: black;
  font-size: 1em;
  font-family: "Roboto";
  width: 100%;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: left;
}

tbody > tr:nth-of-type(even) {
  background-color: lightgray;
}
tbody > tr:nth-of-type(odd) {
  background-color: white;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

#col1{
  width: 35%;
}
#col2{
  width: 20%;
}
#col3{
  width: 45%;
}




@media screen and (max-width: 950px) {
  main {
    gap: 100%;
    position: absolute;
    top: calc(66px);
    left: 3px;
    height: calc(99vh - 66px);
    width: calc(100vw - 6px);
  }
  .preview {
    visibility: hidden;
  }

  
}

